<div class="card bg-dark text-light">
  <div class="card-header">
    <h1 class="card-title">Perfil</h1>
  </div>
  <div class="card-body">
    <p>email: {{user.email}}</p>
    <p>Ingreso desde: {{user.createdAt}}</p>
  </div>
</div>

<div class="card bg-dark text-light"></divclass>
  
  <div class="card-header">
    <h1 class="card-title">Opciones de administrador</h1>
  </div>
  <div class="card-body">
  <!--a href="/auth/signup" class="text-warning">Agregar admin de seguros</a></p-->
  <button class="btn btn-warning"> <a href="/auth/signup" >Agregar administrador</a></button>
  </div>
</div>